body {
  font-family: Arial;
  margin: 0;
}

.top {
  padding: 10px;
  background: #f2f2f2;
}

input {
  width: 60%;
  padding: 6px;
}

button {
  padding: 6px 10px;
  margin-left: 5px;
}

#note {
  margin-left: 10px;
}
